## Deliverable 2. Create a Customer Travel Destinations Map.

In [16]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Sobolevo,RU,54.4299,31.8996,23.86,78,100,3.85,overcast clouds
1,1,Grand Gaube,MU,-20.0064,57.6608,73.38,75,0,5.99,clear sky
2,2,Bluff,NZ,-46.6000,168.3333,55.60,68,45,12.28,scattered clouds
3,3,Tuatapere,NZ,-46.1333,167.6833,58.30,60,53,7.49,broken clouds
4,4,Qui Nhon,VN,13.7667,109.2333,78.03,86,96,17.67,light rain

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Grand Gaube,MU,-20.0064,57.6608,73.38,75,0,5.99,clear sky
4,4,Qui Nhon,VN,13.7667,109.2333,78.03,86,96,17.67,light rain
6,6,Carnarvon,AU,-24.8667,113.6333,78.87,36,0,13.80,clear sky
8,8,Port Elizabeth,ZA,-33.9180,25.5701,62.89,88,90,13.80,overcast clouds
9,9,Talara,PE,-4.5772,-81.2719,65.25,84,42,7.90,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
686,686,Beloha,MG,-25.1667,45.0500,68.09,92,57,7.29,broken clouds
689,689,Panguna,PG,-6.3164,155.4848,79.54,68,95,4.05,overcast clouds
690,690,Darab,IR,28.7519,54.5444,60.89,49,8,0.85,clear sky
691,691,Tuy Hoa,VN,13.0833,109.3000,75.09,92,100,13.11,overcast clouds
693,693,Deloraine,AU,-41.5333,146.6667,72.14,47,100,1.01,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.notnull().sum()

City_ID                358
City                   358
Country                358
Lat                    358
Lng                    358
Max Temp               358
Humidity               358
Cloudiness             358
Wind Speed             358
Current Description    358
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Grand Gaube,MU,-20.0064,57.6608,73.38,75,0,5.99,clear sky
4,4,Qui Nhon,VN,13.7667,109.2333,78.03,86,96,17.67,light rain
6,6,Carnarvon,AU,-24.8667,113.6333,78.87,36,0,13.80,clear sky
8,8,Port Elizabeth,ZA,-33.9180,25.5701,62.89,88,90,13.80,overcast clouds
9,9,Talara,PE,-4.5772,-81.2719,65.25,84,42,7.90,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
686,686,Beloha,MG,-25.1667,45.0500,68.09,92,57,7.29,broken clouds
689,689,Panguna,PG,-6.3164,155.4848,79.54,68,95,4.05,overcast clouds
690,690,Darab,IR,28.7519,54.5444,60.89,49,8,0.85,clear sky
691,691,Tuy Hoa,VN,13.0833,109.3000,75.09,92,100,13.11,overcast clouds
693,693,Deloraine,AU,-41.5333,146.6667,72.14,47,100,1.01,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Grand Gaube,MU,73.38,clear sky,-20.0064,57.6608,
4,Qui Nhon,VN,78.03,light rain,13.7667,109.2333,
6,Carnarvon,AU,78.87,clear sky,-24.8667,113.6333,
8,Port Elizabeth,ZA,62.89,overcast clouds,-33.9180,25.5701,
9,Talara,PE,65.25,scattered clouds,-4.5772,-81.2719,
10,Hithadhoo,MV,81.41,heavy intensity rain,-0.6000,73.0833,
13,Puerto Leguizamo,CO,72.82,overcast clouds,-0.1934,-74.7819,
14,Upleta,IN,77.63,clear sky,21.7333,70.2833,
15,Maldonado,UY,63.79,few clouds,-34.6667,-54.9167,
16,Namanga,KE,64.35,scattered clouds,-2.5433,36.7905,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"      

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()      
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Grand Gaube,MU,73.38,clear sky,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
4,Qui Nhon,VN,78.03,light rain,13.7667,109.2333,Hoang Yen Canary Hotel
6,Carnarvon,AU,78.87,clear sky,-24.8667,113.6333,Hospitality Carnarvon
8,Port Elizabeth,ZA,62.89,overcast clouds,-33.9180,25.5701,39 On Nile Guest House
9,Talara,PE,65.25,scattered clouds,-4.5772,-81.2719,Hostal Oro Negro
...,...,...,...,...,...,...,...
686,Beloha,MG,68.09,broken clouds,-25.1667,45.0500,
689,Panguna,PG,79.54,overcast clouds,-6.3164,155.4848,
690,Darab,IR,60.89,clear sky,28.7519,54.5444,Naghshe shapoor Hotel
691,Tuy Hoa,VN,75.09,overcast clouds,13.0833,109.3000,CenDeluxe Hotel Tuy Hoa
693,Deloraine,AU,72.14,overcast clouds,-41.5333,146.6667,Mountain View Country Inn

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))